{% extends "dttdc_admin/admin_hub.html" %}
{% block admin_delete_tour %}


<div class="container my-4">
  
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-8">

      <div class="card shadow-sm">
        <div class="card-header text-center">
          <h5 class="text-danger mb-0">Delete Tour</h5>
        </div>

        <div class="card-body">
          {% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  {% endfor %}
{% endif %}
          <p class="mb-3 text-black">
            Select a category and respective tour to delete.
          </p>

          <form method="post">
  {% csrf_token %}

  <!-- CATEGORY -->
  <div class="mb-3">
    <label class="form-label fw-bold">Choose Category</label>
    <select name="category" class="form-select" onchange="this.form.submit()">
      <option value="">-- Select category --</option>
      {% for category in categories %}
        <option value="{{ category.id }}"
          {% if selected_category and category.id == selected_category.id %}selected{% endif %}>
          {{ category.category_name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <!-- TOUR -->
  {% if tours %}
  <div class="mb-3">
    <label class="form-label fw-bold">Choose Tour</label>
    <select name="tour" class="form-select" required>
      <option value="">-- Select tour --</option>
      {% for tour in tours %}
        <option value="{{ tour.id }}">
          {{ tour.tour_name }}
        </option>
      {% endfor %}
    </select>
  </div>

  <button type="submit" name="delete" class="btn btn-danger">
    Delete Tour
  </button>
  
  {% endif %}
</form>

        </div>
      </div>

    </div>
  </div>
</div>


{% endblock %}
