{% load static %}

<section id="footer" class="d-flex" style="background-color: #152B5A;">
    <div class="container-fluid w-100" style="background-color: #152B5A;">

        <div class="text-center text-white py-2" style="font-size: 14px;">
            <a class="text-white px-1" href="/dt/about-us.html">About DTTDC</a>
            |
            <a class="text-white px-1" href="/feedbackform">Feedback</a>
            |
            <a class="text-white px-1" href="/dt/contact-us.html">Contact Us</a>

            <p class="text-white p-1" style="text-align: center;">
                Copyrights © Delhi Tourism, All Rights Reserved.
                <br>
                Last Updated 08/10/2024
            </p>
        </div>
    </div>
</section>
