{% load static %}

<div class="container m-5">
    <div class="SideTitle d-flex align-items-center text-white justify-content-center pb-2 h1">
        Admin Panel
    </div>

    <div class="pl_left_arrow">
        <ul class="list-unstyled">

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="#" class="tg">Home</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'admin_hub' %}" class="tg">Admin Hub</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="#" class="tg">Feedback Report</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="#" class="tg">Tour Booking Report</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="#" class="tg">Transaction Report</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="#" class="tg">Ticket Cancellation Report</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="#" class="tg">
                    Ticket Cancellation Requests
                </a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="#" class="tg">Re-Book Failed Ticket</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'admin_logout' %}" class="tg text-danger fw-bold">
                    Logout
                </a>
            </li>

            <div class="SideTitle pt-1 mt-2 text-white">Old Report (Till May 2024)</div>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="#" class="tg">Booking Report</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="#" class="tg">
                    Transaction Report
                </a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="#" class="tg">
                    Online CCD Report
                </a>
            </li>

        </ul>

        <div>
            <img src="{% static 'dttdc_admin/images/8cities_banner.png' %}" class="img-fluid w-100" alt="banner">
        </div>
    </div>
</div>
