{% load static %}

<div class="container">
    <div class="SideTitle position-relative text-white pb-2 h1 text-center">
    <a href="javascript:void(0);" onclick="history.back();"
       class="position-absolute start-0 ms-3 text-white text-decoration-none fw-bold"
       style="font-size: 1.2rem;">
        <i class="bi bi-arrow-left-circle-fill"></i>
    </a>

    <span>Admin Panel</span>
</div>

    <div class="pl_left_arrow">
        <ul class="list-unstyled">

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="#" class="tg">Home</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'admin_hub' %}" class="tg">Admin Hub</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'feedback_report' %}" class="tg">Feedback Report</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'admin_tour_booking_report' %}" class="tg">Tour Booking Report</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'admin_transaction_report' %}" class="tg">Transaction Report</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'admin_ticket_cancellation_report' %}" class="tg">Ticket Cancellation Report</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'ticket_cancellation_requests' %}" class="tg">
                    Ticket Cancellation Requests
                </a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'admin_rebook_failed_ticket' %}" class="tg">Re-Book Failed Ticket</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'admin_selection' %}" class="tg">Back To Panel Selection</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'admin_logout' %}" class="tg text-danger fw-bold">
                    Logout
                </a>
            </li>

            <div class="SideTitle pt-1 mt-2 text-white">Old Report (Till May 2024)</div>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'old_booking_report' %}" class="tg">Booking Report</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'old_transaction_report' %}" class="tg">
                    Transaction Report
                </a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'old_online_ccd_reports' %}" class="tg">
                    Online CCD Report
                </a>
            </li>

        </ul>

        <div>
            <img src="{% static 'dttdc_admin/images/8cities_banner.png' %}" class="img-fluid w-100" alt="banner">
        </div>
    </div>
</div>
