{% extends "dttdc_car_admin/base_car_admin.html" %}

{% block carbooking_admin_package_categories %}

<div class="container mt-4">

  <div class="mb-2 mt-2">

  <a href="{% url 'carbooking_admin_home' %}"
     class="btn btn-danger
            d-inline-flex align-items-center
            position-static position-md-absolute
            start-md-0 top-md-50 translate-middle-md-y">
    ← Back
  </a>

</div>

  <div class="card shadow-sm">
    <div class="card-header text-center">
      <h5>All Package Categories</h5>
    </div>

    <div class="card-body">

      <table class="table table-bordered">
  <thead>
  <tr>
    <th>Sr.No.</th>
    <th>Package Category</th>
    <th>Status</th>
  </tr>
</thead>

<tbody>
  {% for cat in categories %}
<tr>
  <td>{{ forloop.counter }}</td>

  <td>{{ cat.packageCategoryName }}</td>

  <td>
    {% if cat.status %}
      <span class="badge bg-success">Active</span>
    {% else %}
      <span class="badge bg-danger">Inactive</span>
    {% endif %}
  </td>
</tr>
{% empty %}
<tr>
  <td colspan="3" class="text-center text-muted">
    No data available.
  </td>
</tr>
{% endfor %}
</tbody>
</table>


    </div>
  </div>
</div>

{% endblock %}