DEBUG=True
SECRET_KEY='django-insecure-&qmb2)ru_bs5x-t^)ig1d2f5meui-bg^db-^8$)*yinrvm1_d_'

DB_NAME=dttdc_beta_db
DB_USER=
DB_PASSWORD=
DB_HOST=tdil-db-staging.pune.cdac.in
DB_PORT=3306
charset='utf8mb4'
