{% load static %}

<div class="p-3">
  <!-- Keep the title here for the static sidebar view (md+) -->
  <div
    class="SideTitle d-flex align-items-center justify-content-center text-white mb-3 d-none d-md-flex"
  >
    Admin Panel
  </div>

  <ul class="list-unstyled">
    <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="#" class="tg">Home</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href=" {% url 'admin_hub_carbooking' %}" class="tg">Admin Hub</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'car_tour_booking_details' %}" class="tg">Car Tour Booking Details</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'car_tour_transaction_details' %}" class="tg">Car Tour Transaction Details</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'car_cancellation_requests' %}" class="tg">Cancellation Requests</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'car_admin_package_categories' %}" class="tg">Package Categories</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'car_admin_package_details' %}" class="tg">Package Details</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'car_admin_vehicles' %}" class="tg">
                    Vehicles
                </a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'car_admin_vehicle_packages' %}" class="tg">Vehicle Packages</a>
            </li>

            <li class="mt-1">
                <i class="fa fa-caret-right m-1"></i>
                <a href="{% url 'admin_logout' %}" class="tg text-danger fw-bold">
                    Logout
                </a>
            </li>

    <li class="mt-3">
      <div class="SideTitle pt-1 mt-2 text-white d-inline-block w-100">
        Old Report (Till May 2024)
      </div>
    </li>

    <li class="mt-1">
      <i class="fa fa-caret-right m-1"></i>
      <a href="#" class="tg">Booking Report</a>
    </li>

    <li class="mt-1">
      <i class="fa fa-caret-right m-1"></i>
      <a href="#" class="tg">Transaction Report</a>
    </li>

    <li class="mt-1">
      <i class="fa fa-caret-right m-1"></i>
      <a href="#" class="tg">Online CCD Report</a>
    </li>
  </ul>

  <div class="mt-3">
    <img
      src="{% static 'dttdc_car_admin/images/8cities_banner.png' %}"
      class="img-fluid w-100"
      alt="banner"
    />
  </div>
</div>
